body {
  font-family: Arial, sans-serif;
  background-color: #333; /* Dark background color */
  color: #f4f4f4; /* Light text color */
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #555; /* Dark background color */
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1); /* Light box shadow */
}

input, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #888; /* Dark border color */
  border-radius: 3px;
  background-color: #444; /* Dark background color */
  color: #f4f4f4; /* Light text color */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button {
  background-color: #007bff; /* Blue color in dark mode */
  color: #f4f4f4; /* Light text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3; /* Hover color in dark mode */
  transform: scale(1.05);
}

.container input[type="submit"] {
  /* Your button styles here */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container input[type="submit"]:hover {
  /* Change button color on hover */
  background-color: #0056b3;
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

/* CSS for the upload signature section */
#signature {
  border: 2px dashed #ccc; /* Border style for the drop zone */
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease; /* Smooth transition for the border color */
}

#signature:hover {
  border-color: #007bff; /* Highlight border color on hover */
}

/* Add animation for the upload button */
#uploadButton {
  display: none; /* Hide the default file input button */
}

#signature-label {
  background-color: #007bff; /* Background color for the label/button */
  color: #fff; /* Text color for the label/button */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#signature-label:hover {
  background-color: #0056b3; /* Highlight background color on hover */
}

/* Animation for the label/button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#signature-label.animating {
  animation: pulse 1s infinite; /* Apply the animation to the label/button */
}
